.stack-work/
purescriptcowboy.cabal
/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
package-lock.json
server/*.hi
server/*.o

/.stack-work/
/client/bower_components/
/client/node_modules/

